.rtl {
  /*.product-filter .sort, .product-filter .limit, .product-compare{
		margin-left: 10px;
		margin-right: 0;
	}*/
}
.rtl .mini-cart-total {
  text-align: left;
}
.rtl #topbar #cart .cart-title {
  border-radius: 0 3px 3px 0;
  margin-right: 0;
  margin-left: -3px;
}
.rtl #topbar #cart #cart-total {
  border-radius: 3px 0 0 3px;
}
.rtl #topbar .show-mobile .quickaccess-toggle i.fa-cog,
.rtl #topbar .show-mobile .quickaccess-toggle i.fa-user {
  margin-left: 5px;
  margin-right: 0;
}
.rtl #topbar .show-mobile .inner-toggle {
  right: 0;
  left: auto;
  text-align: right;
}
.rtl #topbar ul.links li {
  margin-left: 15px;
  margin-right: 0;
}
.rtl #topbar ul.links li > a span {
  margin-right: 0;
  margin-left: 5px;
}
.rtl .custom-top i {
  margin-left: 5px;
  margin-right: 0;
}
.rtl .accessories-wrapper img {
  margin-right: 10px;
  margin-left: 0;
}
.rtl .close {
  float: left;
}
.rtl .product-block .product-label-special {
  right: 18px;
  left: auto;
}
.rtl .product-block .product-meta .product-hover .box-button div:before {
  left: -4px;
  right: auto;
}
.rtl .product-list .thumb_more_info {
  opacity: 0;
}
.rtl .product-list .name {
  right: 34%;
  left: auto;
}
.rtl .product-list .product-meta {
  float: right;
}
.rtl .product-list .image {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.rtl .product-filter .sort,
.rtl .product-filter .limit {
  padding-right: 15px;
  padding-left: 0;
}
.rtl .product-info .product-extra .quantity-adder > span {
  border-left: 1px solid #ececec;
  border-right-color: transparent;
}
.rtl .sidebar .image {
  float: right;
}
.rtl .share {
  float: right;
}
.rtl #pav-mainnav .navbar ul.nav > li.aligned-fullwidth > .dropdown-menu .dropdown-submenu:hover > .dropdown-menu {
  right: 0;
  left: auto;
}
.rtl #pav-mainnav .navbar ul.nav > li.aligned-right .dropdown-menu {
  left: 0;
  right: auto;
}
.rtl #pav-mainnav .navbar ul.nav > li.aligned-right .dropdown-menu .dropdown-submenu:hover > .dropdown-menu {
  left: 100%;
}
.rtl #pav-mainnav .navbar ul.nav > li.aligned-left .dropdown-menu {
  right: 0;
  left: auto;
}
.rtl #pav-mainnav .navbar ul.nav > li.aligned-left .dropdown-menu .dropdown-submenu:hover > .dropdown-menu {
  right: 100%;
}
.rtl #pav-mainnav .navbar ul.nav > li.aligned-center .dropdown-menu {
  right: 50%;
  transform: translate(50%);
  -webkit-transform: translate(50%);
  -moz-transform: translate(50%);
  -ms-transform: translate(50%);
  -o-transform: translate(50%);
}
.rtl .radio input[type="radio"],
.rtl .radio-inline input[type="radio"],
.rtl .checkbox input[type="checkbox"],
.rtl .checkbox-inline input[type="checkbox"] {
  float: right;
  margin-left: 5px;
}
.rtl .product-info.vertical .product-extra .quantity-adder {
  text-align: right;
}
.rtl #pav-verticalmenu .box-heading h4 .fa-angle-down {
  left: 0;
  right: auto;
}
.rtl #pav-verticalmenu .navbar-collapse .navbar-nav > li > a .menu-icon {
  background-position: right center !important;
}
.rtl #pav-verticalmenu .navbar-collapse .navbar-nav > li > a .menu-icon span {
  margin-right: 40px;
  margin-left: 0;
}
.rtl #pav-verticalmenu .box-heading h4 .fa-bars {
  margin-right: 10px;
  margin-left: 55px;
}
.rtl #pav-verticalmenu .navbar-nav > li:hover > .dropdown-menu {
  left: auto;
  right: 100%;
}
.rtl #pav-verticalmenu .navbar-nav > li .parent:hover > .dropdown-menu {
  left: auto;
  right: 100%;
}
.rtl .addthis_toolbox,
.rtl .nav-tabs > li {
  float: right;
}
.rtl .input-group-btn > .btn + .btn {
  margin-right: -4px;
  margin-left: 0;
}
.rtl .text-right {
  text-align: left;
}
.rtl .text-left {
  text-align: right;
}
.navbar-header {
  float: right;
}
.navbar-nav > li {
  float: right;
}
.dropdown-menu {
  left: inherit;
  right: 0;
  float: right;
}
.box-services > .pull-left,
#cart .pull-left,
.media > .pull-left {
  margin-left: 10px;
  margin-right: 0;
}
.product-block .product-inner:hover {
  left: 20%;
}
.product-block .nozoom:hover {
  box-shadow: 0 0 5px #8A8A8A;
  left: 0;
  margin-top: 0;
  box-shadow: 5px;
  width: 100%;
  z-index: 999;
  background-color: #fff;
}
.product-block .nozoom:hover .product-meta .product-hover {
  opacity: 0;
  top: 0;
}
.carousel-controls {
  left: 0;
  right: inherit!important;
}
.producttabs .tab-nav .nav.nav-tabs {
  float: right;
}
.box .box-heading span:before {
  left: inherit;
  right: 0;
}
.box .box-heading {
  background-position: 100% center;
}
.sidebar .box.dark .box-heading:before {
  left: inherit;
}
.sidebar .box .box-heading span:before {
  border-left: 24px solid transparent;
  border-right: 0;
}
#content h1:after {
  left: inherit;
  right: 0;
}
.htabs a {
  float: right;
}
/*Search*/
#search .button-search {
  right: inherit;
  left: 0;
}
#search input {
  padding: 5px 10px 5px 30px;
}
.blog-meta ul {
  text-align: left;
}
#header #cart .content {
  right: inherit;
  left: 0;
}
.pavblock .image {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.iconbox {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.iconbox i {
  padding-right: 3px;
  padding-left: 0;
}
.box-media .media p {
  margin-right: 0;
}
#pav-mainnav .dropdown-menu li a {
  background-position: right 10px;
  padding: 3px 10px 3px 0;
}
ul.list > li > a {
  background-position: right 3px;
  padding-left: 0;
}
ul.list > li > a:hover,
ul.list > li > a.active {
  background-position: right -45px;
}
ul.list > li ul > li {
  padding: 10px 25px 0 0;
}
.product-filter .display {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.product-filter .display span {
  float: right!important;
}
/*.product-filter .sort,
.product-filter .limit,
.product-compare {
    float: left;
    margin-left: 0;
    margin-right: 10px;
}*/
.pav-custom.custom-service .service-wrap > div .service-body .icon {
  float: right;
}
.accessories-wrapper .haschild ul li i {
  top: 8px;
  float: right;
}
.box.pavblog-latest .box-content .item .blog-item img {
  margin-left: 10px;
}
#footer .footer-center .box-heading {
  text-align: right;
}
.box.category .box-content ul.list > li a span {
  float: left;
}
.product-block:hover .thumb_more_info {
  right: auto;
  left: -85px;
}
.product-block .product-meta .product-hover .box-button {
  left: 115px;
  right: auto;
}
.product-block:hover .product-meta .product-hover .box-button {
  left: 0;
  right: auto;
}
.product-block .price {
  float: right;
}
.product-block .rating {
  float: left;
}
.verticalmenu .dropdown-toggle .caret {
  left: 25px;
  right: auto;
}
.verticalmenu .dropdown-toggle .caret {
  right: auto!important;
  left: 25px;
}
.verticalmenu .dropdown-toggle .caret:after {
  border-right: 4px solid #000000;
  border-left: none;
}
.accessories-wrapper img {
  margin-left: 10px;
}
.productcarousel.special .description {
  float: left;
}
.product-block .product-meta .product-hover .box-button {
  right: 0;
  left: auto;
}
.productcarousel.special .product-block:hover .product-hover .box-button {
  right: 30%;
  left: auto;
}
.box.category .box-content ul.list > li a {
  padding-left: 18px;
}
.pavrecentlyviewed {
  right: auto;
  left: 10px;
}
.zoomWindow {
  left: -400px !important;
}
